<div>
<h3>Library Hours/Contact Info:</h3>
<a href="about/contact.html">Contact Library</a><br>
<a href="about/contact.html#hours">Library Hours</a><br />
Mon-Tues: 8:00 a.m. &ndash; 9 p.m.<br />
Wed-Thurs: 8:00 a.m. &ndash; 7 p.m.<br />
Friday: CLOSED<br />
Sat-Sun: CLOSED<br />  
</div>

<div>
<h3>Library Address:</h3>
Kirk Library<br />
600 Centralia College Blvd<br />
Centralia WA 98531<br />
<a href="http://www.centralia.edu/admin/directions.html" title="directions &amp; maps">Map &amp; Directions</a><br />
<br />
<iframe width="140" height="110" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Centralia+College,+Centralia+College+Boulevard,+Centralia,+WA&amp;aq=0&amp;oq=Centralia+College&amp;sll=46.72454,-122.96589&amp;sspn=0.085903,0.185566&amp;ie=UTF8&amp;hq=Centralia+College,+Centralia+College+Boulevard,+Centralia,+WA&amp;t=m&amp;ll=46.715518,-122.961559&amp;spn=0.001618,0.002983&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Centralia+College,+Centralia+College+Boulevard,+Centralia,+WA&amp;aq=0&amp;oq=Centralia+College&amp;sll=46.72454,-122.96589&amp;sspn=0.085903,0.185566&amp;ie=UTF8&amp;hq=Centralia+College,+Centralia+College+Boulevard,+Centralia,+WA&amp;t=m&amp;ll=46.715518,-122.961559&amp;spn=0.001618,0.002983&amp;z=16&amp;iwloc=A">View Larger Map</a>
</div>

<div>
<h3>Contact a Librarian:</h3>
<a href="http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm?&page=frame&institution=13085&type=2&language=1" title="chat with librarian"><img src="images/askLibrarian.gif" width="100" height="69" alt="ask a librarian" /></a><br />
<a href="http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm?&page=frame&institution=13085&type=2&language=1" title="chat with librarian">Chat with Librarian</a><br />
<br />
<a href="mailto:librarian@centralia.edu" title="email librarian"><img src="images/mail.png" width="40" height="26" alt="mail icon" /></a>&nbsp;&nbsp;<a href="mailto:librarian@centralia.edu" title="email librarian">Email a Librarian</a><br />
<br />
<img src="images/phone-big.png" width="41" height="28" alt="phone" />&nbsp;&nbsp;360-623-8956<br />                             
</div>                   



