<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#">Home</a></li>
		        	<li><a href="research">Research Help</a></li>
	        		<li><a href="kirk-library/citations">Citations</a></li>
	        		<li><a href="interlibrary-loan">Interlibrary Loan</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:librarian@centralia.edu">email</a></li>
	        		<li><a href="https://centralia.edu">Centralia College</a></li>
				</ul>
			</footer>
		</body>
	</html>
